{% extends 'MyAppEspritBundle:Article:lister.html.twig' %}



 {% block article %}
         
 {% for article in article if article.id == a.id %}

 
  <ul>
    <li>&nbsp;&nbsp;&nbsp;{{article.nom}}</li>  
    <li><center> {{ article.date|date('d/m/Y')}}</center></li> 
  </ul>
  
  
    &nbsp;&nbsp;&nbsp;
    
  {% if article.image is  not  null %}
        <img src="{{ article.image }}" alt="" width="120" height="120" class="img-border">
  {% endif %}
  {% if article.image is   null %}
        <img src="" alt="{{ article.image }}"alt="" width="120" height="120" class="img-border" />
  {% endif %}  
   
    </br></br>
    &nbsp;&nbsp;&nbsp;{{article.texte }} 
    
    {%endfor%}
{% endblock  %}
     
     
    
     
     